* {
    margin: 0%;
    padding: 0%;
}

.pagesommaire {
    background-image: url("./monportefolio.webp");
    color: rgba(250, 235, 215, 0.454);
    margin-left: 3%;
    margin-bottom: 65%;

}

.titre {
    margin-bottom: 2%;
    margin-top: 2%;
}

.competences,
.proj,
.moi,
.contact {
    margin-bottom: 2%;
}


a,
ul,
li {
    text-decoration: none;
    display: flex;
    justify-content: right;
    color: black;
    margin-right: 5%;
    padding: 3%;
}

.sommaire {
    margin-top: 1%;
    margin-bottom: 20%;
}

.presentation {
    background: linear-gradient(antiquewhite, rgb(59, 57, 57));
    margin-bottom: 30%;
    margin: 15%;
}

.moi {
    text-align: center;
}

.systemeembarques {
    text-align: center;
    margin-top: 5%;
}

.langagec {
    margin-top: 2%;
}

.projet {
    margin-top: 1%;
}

.projetporfolio {
    margin-top: 10%;
    margin-right: 2%;
    text-align: right;
}

.mesprojets {
    background: linear-gradient(antiquewhite, rgb(75, 73, 73));
    margin-bottom: 1%;
}



.numero,
.mail,
.nom,
h2,
.envoie {
    margin-bottom: 2%;
}

.demande {
    margin-bottom: 5%;
}

.recherche {
    margin-top: 5%;
}

.contacter {
    background: linear-gradient(antiquewhite, rgb(75, 73, 73));
    margin-bottom: 15%;
    margin-left: 10%;
}

.info {
    margin-top: 5%;
    text-align: center;
}